@import "./components/_utils";

/* ==========================================================================
   Begin Parallax Scroll
   @see http://ihatetomatoes.net/demos/simple-parallax-scrolling-tutorial/
   ========================================================================== */

body, html {
    height: 100%;
    min-height: 100%;
    background-color: #FFFFFF;
}

h2 {
    margin-top: 0;
}

section {
    opacity: 0;
}

.loaded section {
    opacity: 1;
    transition: opacity 300ms ease-out;
}

main {
    overflow-x: hidden;
}

#preload {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.slide-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slide-content {
    padding: 25px 80px;
}

/* Slide 1 */
#slide-1 .bcg {
    background-image: url('/images/patagonia_1.jpg')
}

#slide-1 .slide-content {
    width: 315px;
    margin: 80% 3% 0 3%;
    padding: 0px;

    h2 {
        font-family: $fontHighlight;
        text-align: center;
    }
}

/* Slide 2 */
#slide-2 .bcg {
    background-color: #FFFFFF;
}

#slide-2 .slide-content p {

}

#slide-2 {
    .editorial-header__excerpt {
        padding: 0 !important;
        margin-bottom: 25px;
        text-align: center;
    }
}

/* Slide 3 */
#slide-3 .bcg {
    background-color: #FFFFFF;
}

#slide-3 .slide-content {

}

#slide-3 h2 {
    color: #f2ead6;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Slide 4 */
#slide-4 .bcg {
    background-color: #FFFFFF;
}

#slide-4 .slide-content {

}

#slide-4 h2 {
    background: none;
    padding-left: 0;
    padding-right: 0;
}

/* ==========================================================================
   End Parallax Scroll Styles
   @see http://ihatetomatoes.net/demos/simple-parallax-scrolling-tutorial/
   ========================================================================== */

@include medium {
    #slide-1 .bcg {
        background-image: url('/images/patagonia_1.jpg')
    }
    #slide-1 .slide-content {
        width: 340px;
        margin: 35% auto;
    }
}

@include wide {
    #slide-1 .bcg {
        background-image: url('/images/patagonia_1.jpg')
    }
    #slide-1 .slide-content {
        width: 540px;
        margin: 35% auto;
    }
}

.cover {
    font-family: $fontHighlight;
    color: #FFFFFF;
}

.me {

    text-align: center;
    .gravitar {
        width: 240px;
        border-radius: 120px;
    }
}

.about-me {
    position: relative;
    height: 800px;
}
