@import "./components/_utils";

/* ==========================================================================
   Begin Parallax Scroll
   @see http://ihatetomatoes.net/demos/simple-parallax-scrolling-tutorial/
   ========================================================================== */

body, html {
    height: 100%;
    min-height: 100%;
    background-color: #FFFFFF;
}

h2 {
    margin-top: 0;
}

section {
    opacity: 0;
}

.loaded section {
    opacity: 1;
    transition: opacity 300ms ease-out;
}

main {
    overflow-x: hidden;
}

#preload {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.slide-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slide-content {
    padding: 0px;
}

/* Slide 1 */
#slide-1 .bcg {
    background-image: url('/images/patagonia_small.jpg')
}

#slide-1 .slide-content {
    width: 315px;
    height: 100%;
    margin: 70% auto;
    padding: 0px;

    h2 {
        font-family: $fontHighlight;
        text-align: center;
    }
}

/* Slide 2 */
#slide-2 .bcg {
    background-image: none;
}

#slide-2 .slide-content {
    .cover {
        font-family: $fontHighlight;
        color: #000000;
    }
}

/* ==========================================================================
   End Parallax Scroll Styles
   @see http://ihatetomatoes.net/demos/simple-parallax-scrolling-tutorial/
   ========================================================================== */

@include medium {
    #slide-1 .bcg {
        background-image: url('/images/patagonia_medium.jpg')
    }
    #slide-1 .slide-content {
        width: 340px;
        margin: 50% auto;
    }
}

@include wide {
    #slide-1 .bcg {
        background-image: url('/images/patagonia_wide.jpg')
    }
    #slide-1 .slide-content {
        width: 540px;
        margin: 35% auto;
    }
}

@include huge {
    #slide-1 .bcg {
        background-image: url('/images/patagonia_huge.jpg')
    }
    #slide-1 .slide-content {
        width: 540px;
        margin: 25% auto;
    }
}

.cover {
    font-family: $fontHighlight;
    color: #FFFFFF;
}

.me {

    text-align: center;
    .gravitar {
        margin-top: 75px;
        width: 240px;
        border-radius: 120px;
    }
}

.about-me {


    .box h3 {
        margin-bottom: 20px;
        text-decoration: underline;
    }

    footer {
        margin-top: 60px;
    }

    .text-divider.xxlarge {
        margin-bottom: 20px;
    }
}
