.facts {

    text-align: center;
    margin: 20px;

    dl, dd, dt {
        padding: 0;
        margin: 0;
    }

    dt {
        font-weight: 400;
        font-family: $fontHighlight;
    }

    dd {
        margin-bottom: 20px;
        font-family: $fontDefault;
    }

    ul, li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .fact-group {

    }
}

@include medium {
    .facts {
        text-align: center;
        margin: 20px;
    }
}

@include wide {
    .facts {
        text-align: left;
        margin: 0;
    }
}
