.logo-container {
    position: relative;
    bottom: 150px;
    left: 0%;
}

.logo {
    position: absolute;
}

.logo-dot {
    position: absolute;
    top: 125px;
    left: 4px;
}

@include wide {
    .logo-container {
        bottom: 250px;
        left: 17%;
    }
}
