$size: 2.5em;

.loaded .page-loader {
  display: none;
}

.loading .page-loader {
    display: flex;
}

.page-loader {
  //position: absolute;
  //top: calc(50% - #{$size / 2});
  //left: calc(50% - #{$size / 2});
}

$bars: 5; $size: 25px; $fBlue: #000000;
$ease: .3s ease-in-out; $delay: .1s;
.page-loader {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 30px; height: $size;
  margin: auto;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: center;
  align-items: center;
  &.loaded {
    .bar {
      width: 5px; height: 5px;
      margin-right: 1px;
      border-radius: 5px;
      background: $fBlue;
      flex: 1 5px;
      &:last-child { margin: 0; }
      @for $i from 1 through $bars {
        &:nth-child( #{$i} ) {
          animation: load $ease $delay * $i infinite alternate;
        }
      }
    }
  }
}
@keyframes load { 100% { height: $size; } }
